body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  //   'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.slick-arrow {
  position: absolute;
  width: 34px;
  height: 34px;
  padding: 0;
  text-indent: -9999px;
  background-repeat: no-repeat;

  img {
    left: 0;
    background-color: bisque;
    z-index: 9999;
  }

  // Slick CSS
  &.slick-prev {
    transform: translateX(50%) translateX(-30px);
    z-index: 2;
    &:after {
      transform: translateX(-50%) translateX(-2px) translateY(-50%);
      border-width: 9px 12px 9px 0;
    }
  }
  &.slick-next {
    transform: translateX(-50%) translateX(30px);
    z-index: 1;
    &:after {
      transform: translateX(-50%) translateX(2px) translateY(-50%);
      border-width: 9px 0 9px 12px;
      border-color: transparent transparent transparent #fff;
    }
  }
  &.slick-left-arrow-svg {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
  }
  &.slick-right-arrow-svg {
    position: absolute;
    right: 0;
  }
}
  // Main Img
  .mainbackground {
    align-items: 'center';
    min-width: '768px';
    height: '200px';
    transition: background-image 1s ease-in;
    transition-property: background-image;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
  }
  .title {
    color: #fff;
    font-weight: bolder;
    text-align: end;
    font-size: 25px;
    margin: 10px 10px 0;
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 100px;
  }
  .introduction {
    color: #fff;
    text-align: end;
  }